@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700;800&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700&display=swap');

@font-face {
  font-family: 'mouse_memoir';
  src: url('./fonts/mousememoirs-regular-webfont.woff2') format('woff2'),
    url('./fonts/mousememoirs-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .content {
    content: '';
  }
}

@layer base {
  body {
    @apply bg-bg;
  }

  svg {
    fill: currentColor;
  }

  form {
    @apply mb-16;
  }

  label {
    @apply font-slab uppercase text-base font-extrabold text-black leading-6 pb-2 block
  }

  .field textarea,
  .field input[type=text],
  .field input[type=email],
  .field input[type=tel],
  .field input[type=url],
  .field input[type=password] {
    @apply mt-[2px] ml-[2px] mr-0 mb-0 bg-transparent border-2 border-black focus:border-veridianGreen outline-none w-full p-4 font-sans font-semibold relative
  }

  .input-url {
    @apply relative;
  }

  /* have to use a class for this because you can't have a pseudo element on an input */
  .input-url::after {
    content: 'https://';
    @apply font-sans text-lg font-bold text-punch block absolute bottom-[18px] left-5
  }

  .input-url input[type=url] {
    @apply pl-10
  }

  .input-wrapper {
    @apply relative
  }

  .input-wrapper::before {
    @apply bg-white absolute -left-[2px] -top-[2px] w-full h-full content
  }
}

@layer components {
  .page-title {
    @apply font-condensed text-punch text-[3.25rem] p-0 pb-6 m-0 leading-none
  }

  .aside-heading {
    @apply font-condensed text-2xl text-onyx
  }

  #logo #A,
  #logo #A_2,
  #logo #M {
    @apply fill-ulcaGold
  }

  #logo:hover #A,
  #logo:hover #A_2,
  #logo:hover #M {
    @apply fill-punch
  }

  #logo #inside {
    @apply fill-greenSheen
  }

  #logo:hover #inside {
    @apply fill-ulcaGold
  }

  /* home - feed */
  #nav__home .nav__bg {
    @apply fill-punch
  }

  #nav__home:hover .nav__bg {
    @apply fill-black
  }

  #nav__home .nav__color {
    @apply fill-ulcaGold
  }

  #nav__home:hover .nav__color {
    @apply fill-black
  }

  #nav__home:hover text {
    @apply fill-white
  }

  /* notifications */
  #nav__notifications .nav__color {
    @apply fill-pesto
  }

  #nav__notifications:hover .nav__color {
    @apply fill-black
  }

  /* bookmarks */
  #nav__bookmarks .nav__color {
    @apply fill-punch
  }

  #nav__bookmarks:hover .nav__color {
    @apply fill-black
  }

  /* profile */
  #nav__profile .nav__color {
    @apply fill-fiord
  }

  #nav__profile:hover .nav__color {
    @apply fill-black
  }


  .body-copy a {
    @apply text-punch font-bold hover:underline
  }

  .large-body {
    @apply text-lg leading-7 pt-0 mt-0;
  }

  .action {
    @apply font-slab text-xl flex gap-1 items-center
  }

  .selected-action {
    @apply text-punch
  }

  footer nav a {
    @apply hover:underline hover:text-punch whitespace-nowrap
  }

  .footer-nav li::after {
    content: '•';
    @apply mx-2
  }

  .footer-nav li:last-child::after {
    @apply mx-0 content;
  }

  button.small {
    @apply text-xs py-1 px-4 font-extrabold
  }

  button.large {
    @apply text-base px-6 py-1 font-bold
  }

  .text-button {
    @apply text-sm underline font-bold hover:text-punch hover:no-underline
  }

  .might-like-user__link:hover .name {
    @apply text-punch
  }
  .might-like-user__link:hover .username {
    @apply underline
  }

  .inset-border {
    @apply relative;
  }

  .inset-border::after {
    @apply block border-2 border-black absolute left-1 right-1 bottom-1 top-1 content pointer-events-none
  }


  /* TOOL TIP TAG */
  .tooltip-tag {
    @apply z-tooltip relative
  }

  .tooltip-tag button {
    @apply relative z-tooltipButton
  }

  .tooltip-tag::before {
    background: currentColor;
    @apply h-4 w-4 z-tooltip absolute rotate-45 block content
  }

  .tooltip-tag.center::before {
    @apply left-1/2 -translate-x-1/2 rotate-45
  }

  .tooltip-tag.left::before {
    @apply left-3
  }

  .tooltip-tag.top::before {
    @apply -top-2
  }

  .tooltip-tag.bottom::before {
    @apply -bottom-2
  }

  .tooltip-tag.right::before {
    @apply right-3
  }

  /* settings subnav */
  .settings-subnav {
    @apply font-slab uppercase text-base font-extrabold
  }

  .settings-subnav li {
    @apply mb-3
  }

  .settings-subnav .icon {
    @apply hidden
  }

  .settings-subnav li a.selected .icon {
    @apply block
  }

  .settings-subnav a {
    @apply text-black hover:text-punch min-h-[3rem] flex leading-[3rem] pl-20 pr-2 justify-between items-center
  }

  .settings-subnav li a.selected {
    @apply bg-ulcaGold hover:text-black
  }

  /* FORM ELEMENTS */
  .field {
    @apply mb-8
  }

  .button-group {
    @apply flex gap-6 justify-end
  }

  .submit-btn {
    @apply font-slab uppercase text-white bg-punch hover:bg-veridianGreen text-base font-bold py-2 px-6 rounded-3xl
  }

  .input-username {
    @apply relative;
  }

    /* have to use a class for this because you can't have a pseudo element on an input */
  .input-username::after {
    content: '@';
    @apply font-sans text-lg font-bold text-punch block absolute bottom-[18px] left-5
  }

  .input-username input[type=text] {
    @apply pl-10
  }

  .settings-page-top {
    @apply pt-24
  }

  /* avatar background colors */
  .PUNCH {
    @apply bg-punch
  }

  .ULCAGOLD {
    @apply bg-ulcaGold
  }

  .BLANC {
    @apply bg-blanc
  }

  .ONYX {
    @apply bg-onyx
  }

  .PESTO {
    @apply bg-pesto
  }

  .FIORD {
    @apply bg-fiord
  }

  .GREENSHEEN {
    @apply bg-greenSheen
  }

  .VERIDIANGREEN {
    @apply bg-veridianGreen
  }

  .HEATWAVE {
    @apply bg-heatWave
  }

  /* TOGGLE */
  .toggle input[type=checkbox] {
    @apply hidden;
  }

  .toggle input[type=checkbox] + label {
    @apply inline-flex items-center justify-center bg-red-600 gap-2 pl-4 pr-1 py-1 rounded-3xl text-white font-bold font-sans cursor-pointer transition-all
  }

  .toggle input[type=checkbox] + label .yes {
    @apply hidden
  }

  .toggle input[type=checkbox]:checked + label {
    @apply pr-4 pl-1 bg-green-600
  }

  .toggle input[type=checkbox]:checked + label .yes {
    @apply block
  }

  .toggle input[type=checkbox]:checked + label .no {
    @apply hidden
  }

  /* CUSTOM CHECKBOX */

  /* CUSTOM RADIO BUTTON */
}
